/* Estilos generales del footer */
footer {
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 40px 80px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1px;
}

.social-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.social-col p {
  font-size: 0.813rem;
  margin: 0 0 8px 0;
}

.social-col a {
  font-size: 0.813rem;
  color: var(--white-color);
  margin-bottom: 10px;
}

.social-title {
  font-size: 0.875rem;
  padding-bottom: 4px;
}

.follow {
  margin-top: 20px;
}

.follow i {
  color: var(--white-color);
  padding-right: 4px;
  cursor: pointer;
}

.row img {
  margin: 10px 0 15px 0;
  border-radius: 6px;
}

/* Estilos del pie de página inferior */
.copyright {
  padding-top: 20px;
  border-top: 1px solid #555;
  font-size: 0.85rem;
  color: var(--white-color);
  text-align: center;
}

/* Media Queries */
@media (min-width: 768px) {
  /* Laptop */
  .social {
    gap: 25px;
  }

  .social-col p {
    font-size: 0.875rem;
  }

  .social-col a {
    font-size: 1rem;
  }

  .social-title {
    font-size: 1rem;
  }

  .copyright {
    max-width: 900px;
    margin: 0 auto;
    font-size: 0.95rem;
  }
}
