/* Estilos generales para el hero */
#hero {
  background-image: linear-gradient(100deg, #000000, #00000098),
    url("../assets/img/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.hero-content {
  max-width: 100%;
}

.hero-title {
  color: var(--white-color);
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text {
  color: var(--main-color);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5;
}

/* Media Queries */
@media (min-width: 460px) {
  /* Tablets */
  #hero {
    height: 85vh;
  }
}

@media (min-width: 768px) {
  /* Laptop */
  #hero {
    height: 90vh;
  }

  .hero-title {
    font-size: 3.5rem;
  }

  .hero-text {
    font-size: 1.2rem;
  }
}
